data
html
target
src/main/webapp/mmbase/
src/main/webapp/WEB-INF/lib/
src/main/webapp/WEB-INF/config/applications
*.bbprojectd/
*.idea
*.iws
*.ipr
*.iml
*.sublime-project
*.sublime-workspace
# frontend stuff
frontend/node_modules
frontend/public/*