extends layout/page

prepend variables
    - title = 'NRA and Smith & Wesson Partner to "Share the Safety" With All Americans'
    - bodyClass = 'article'
    - selected = 'articles';

append main

    article.container
        .row
            .col-md-2
            .col-md-8
                
                .article
                    header
                        .content-type Article
                        h2.title NRA and Smith &amp; Wesson Partner to "Share the Safety" With All Americans
                    
                        .content-info
                            .content-info__image
                                img( src='styles/images/portrait-eric.png' alt="Eric Cattenberg" )
                            .content-info__text
                                .author 
                                    a(href="person.html") Eric Cattenberg
                                .date November 25, 2016
                                +tags({
                                        tag: 'Activism',
                                        url: 'list.html'
                                    }, {
                                        tag: 'The Yesmen',
                                        url: 'list.html'
                                    }, {
                                        tag: 'Performance',
                                        url: 'list.html'
                                    }, {
                                        tag: 'Firearms',
                                        url: 'list.html'
                                    })
                            .content-info__related
                                ul
                                    li
                                        a( href="#files" ) 3 files
                                    li
                                        a( href="#links" ) 4 links
                                    li
                                        a( href="#videos" ) 1 video
                                    li
                                        a( href="#images" ) 4 images

                    p.intro Simi Valley, Ca. - The NRA announced today, at the Ronald Reagan Presidential Library, a new program to get guns into the hands of statistically under-armed Americans—from homosexuals to the elderly to besieged urban communities—and make self-defense, rather than gun control, the protection of choice for all Americans.

                    p This text is set in 21px, line height 33px. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim #[a(href="#") veniam], quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    
                    p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta #[a(href="#") nobis est eligendi] optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.

            .col-md-2
        
        aside#links.content-related
            .row
                .col-md-2
                .col-md-8

                    h4.content-related__title Links
                    ul.content-related__list
                        li
                            a( href="https://nrapress.org/articles/20160622/nra-smith-wesson-partner-share-the-safety/" ) https://nrapress.org/articles/20160622/nra-smith-wesson-partner-share-the-safety/
                        li
                            a( href="https://nrapress.org" ) https://nrapress.org
                .col-md-2
        
        aside#files.content-related
            .row
                .col-md-2
                .col-md-8
                    h4.content-related__title Files
                    ul.content-related__list
                        li
                            a( href="#" ) filename.zip
                .col-md-2


        aside#videos.content-related
            .row
                .col-md-10.col-md-offset-2 
                    h4.content-related__title.__video Video
            .row
                .col-md-11.col-md-offset-1
                    ul.content-related__list.__video
                        li 
                            a.content-related__image(href="video.html")
                                .content-related__image-bg( style="background-image: url(styles/images/Share_the_Security.jpg)" )
                                span Video description

        
        aside#images.content-related
            .row
                .col-md-10.col-md-offset-2 
                    h4.content-related__title.__images Images
            .row
                .col-md-11.col-md-offset-1

                    ul.content-related__list.__images
                        li 
                            a.content-related__image(href="#")
                                .content-related__image-bg( style="background-image:url(styles/images/lol-cat.png)" )
                                span Image description
                        li 
                            a.content-related__image(href="#")
                                .content-related__image-bg( style="background-image:url(styles/images/lol-cat.png)" )
                                span Image description
                        li 
                            a.content-related__image(href="#")
                                .content-related__image-bg( style="background-image:url(styles/images/lol-cat.png)" )
                                span Image description
                        li 
                            a.content-related__image(href="#")
                                .content-related__image-bg( style="background-image:url(styles/images/lol-cat.png)" )
                                span Image description
                        li 
                            a.content-related__image(href="#")
                                .content-related__image-bg( style="background-image:url(styles/images/lol-cat.png)" )
                                span Image description
                        //- li 
                        //-     a.content-related__image(href="#")
                        //-         img( src='styles/images/lol-cat.png' )
                        //-         span Image description


