extends layout/page

prepend variables
    - title = 'Videos'
    - selected = 'videos';
    - bodyClass = 'list'

append main

    .container
        .row
            .col-md-2
            .col-md-8
                .content.__video
                    .content-type Video
                    h2.title 
                        a( href="#" ) Lol cats in the kitchen

                    .content__video 
                        video( width="640" height="360" src="http://www.tacticalmediafiles.net/files/38/38889.38884.NRA_and_SW_Share_the_Safety.mp4" )
                        a.read-more( href="#" ) Play

                    .tags 
                        a( href="#" ) Mess, 
                        a( href="#" ) Fun, 
                        a( href="#" ) Soft, 
                        a( href="#" ) Cool Aid, 
                        a( href="#" ) Precarity, 
                        a( href="#" ) Art Of Campaigning, 
                        a( href="#" ) Cure it
                hr
            .col-md-2
        .row
            .col-md-2
            .col-md-8
                .content.__video
                    .content-type Video
                    h2.title 
                        a( href="#" ) Nuit Debout
                    
                    .content__video
                        video( width="640" height="360" start="12" src="http://www.tacticalmediafiles.net/files/38/38889.38884.NRA_and_SW_Share_the_Safety.mp4" )
                        a.read-more( href="#" ) Play

                    p.intro Nuit Debout is a French social movement that began on March 31, 2016, arising out of protests against proposed neoliberal labor reforms known as the "Loi Travail," or the "El Khomri Law". The movement is centred at Paris's Place de la République, where protestors have held nightly assemblies following the
                    
                    .tags 
                        a( href="#" ) Campaign, 
                        a( href="#" ) Precarity, 
                        a( href="#" ) Art Of Campaigning, 
                        a( href="#" ) Labour, 
                        a( href="#" ) Street Protest, 
                        a( href="#" ) Economics

            .col-md-2

        .row
            .col-md-2
            .col-md-8

                ul.pager
                    li 
                        a.prev( href="#" ) Previous
                    li 
                        a( href="#" ) 1
                    li 
                        span.dots ...
                    li 
                        a.current( href="#" ) 5

                    each val in ["6", "7", "8", "9", "10"]
                        li 
                            a( href=val ) #{val}
                    li 
                        a.next( href="#" ) Next

            .col-md-2
