extends layout/page

prepend variables
    - title = 'Video: Cat sits in bathroom with liquor in the back and oh oh oh it’s so'
    - bodyClass = 'video'
    - selected = 'videos';

append main

    article.container.__video
        .row
            .col-md-10.col-md-offset-1
                .video
                    .video-background
                        video( style="background-image:url(styles/images/lol-cat.png)" )
    .container
        .row
            .col-md-1
            .col-md-2.start-xs.center-md
                .content-type Video

            .col-md-6
                h2.title Cat sits in bathroom with liquor in the back and oh oh oh it’s so cute duh
                
                +tags({
                        tag: 'Activism',
                        url: 'list.html'
                    }, {
                        tag: 'The Yesmen',
                        url: 'list.html'
                    }, {
                        tag: 'Performance',
                        url: 'list.html'
                    }, {
                        tag: 'Firearms',
                        url: 'list.html'
                    })

                p.intro Simi Valley, Ca. - The NRA announced today, at the Ronald Reagan Presidential Library, a new program to get guns into the hands of statistically under-armed Americans—from homosexuals to the elderly to besieged urban communities—and make self-defense, rather than gun control, the protection of choice for all Americans.

            .col-md-2

