mixin carousel(...items)
    .slider( data-slider-featured="home-page" )
        each item in items
            - item.url = item.url || '#'
            article.slider-item
                .item( style="background-image: url(" + item.image + ");" )
                    .container
                        p.item__type 
                            strong featured #{item.type}
                        h2.item__title 
                            a( href=item.url ) #{item.title}
                        .item__read-more
                            a.read-more( href=item.url ) Read
