mixin carousel(...items)
    .slider( data-slider-featured="home-page" )
        each item in items
            - item.url = item.url || '#'
            article.slider-item
                .carousel-item( style="background-image: url(" + item.image + ");" )
                    .container
                        .carousel-item__type 
                            strong #{item.type}
                        h3.carousel-item__title 
                            a( href=item.url ) #{item.title}
                        .carousel-item__read-more
                            a.read-more( href=item.url ) Read
