*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    // remove outline from all focused elements
    outline: none;
}

html {
    //Set the base box-sizing that will be inherited by all other elements
    box-sizing: border-box;

    // Set the base font size for rem sizes
    font-size: 8px;

    // Add cross-browser antialiasing
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // Other base styling
    text-rendering: auto;
    -webkit-text-size-adjust: 100%;
    position: relative;
    height: 100%;
    margin: 0;
    cursor: default;

    @media @screen-sm-max {
        font-size: 7px;
    }
    // in between is base size 8px
    @media @screen-lg {
        font-size: 10px;
    }
    @media @screen-xl {
        font-size: 12px;
    }
}

body {
    position: relative;
    width: 100%;
    min-height: 100%;
    margin: 0;
    font-family: @font;
    font-size: @font-medium;
    line-height: @line-height--medium;
    color: @color-black;
    background-color: @color-white;
    overflow-y: scroll;
}

img {
    display: block;
    max-width: 100%;
    border: none;
}

a {
    color: @color-secondary;
    text-decoration: none;
}

#skip-link {
    position: absolute;
    top: 0;
    right: 100%;
    background-color: @color-white;
    padding: 0.5rem 1rem;
    
    &:focus {
        right: auto;
        z-index: 9;
    }
}
