// Colors
// -------------------------------

@color-primary:                     #00ADEE;
@color-primary-dark:                #008BCE;  
@color-secondary:                   #6D6D6D;

// Black & white
@color-black-transparent:           fade(#444, 96%);
@color-white-transparent:           fade(white, 60%);
@color-primary-transparent:         fade(@color-primary, 50%);
@color-grey:                        #EFEFEF;

// Grey
@color-grey--10:                    #F0F0F0;
@color-grey--20:                    #BBBBBB;
@color-grey--30:                    #808080;
@color-grey--40:                    #c4c4c4;
@color-grey--50:                    #333333;
@color-grey--60:                    #ccc;
@color-grey--80:                    #444;


// Fonts
// -------------------------------

@font:								'Georgia', serif;
@font-secondary:                    'LeagueSpartan', sans-serif;
@font-tertiary:                     'Helvetica Neue', Helvetica, sans-serif;

// Font sizes

@line-height--addition:             1.2rem;

.font(@size) {
    & when (@size = extra-small) {
        font-size: 1.2rem;
        line-height: 1.2rem + @line-height--addition;
    }
    & when (@size = small) {
        font-size: 1.4rem;
        line-height: 1.4rem + @line-height--addition;
    }
    & when (@size = medium) {
        font-size: 1.8rem;
        line-height: 1.8rem + @line-height--addition;
    }
    & when (@size = base) {
        font-size: 2.1rem;
        line-height: 2.1rem + @line-height--addition;
    }
    & when (@size = large) {
        font-size: 2.4rem;
        line-height: 2.4rem + @line-height--addition;
    }
    & when (@size = title-extra-small) {
        font-size: 2.4rem;
        line-height: 2.4rem + @line-height--addition;
    }
    & when (@size = title-small) {
        font-size: 3.2rem;
        line-height: 3.2rem + @line-height--addition;
    }
    & when (@size = title-normal) {
        font-size: 3.6rem;
        line-height: 3.6rem + @line-height--addition;
    }
    & when (@size = title-main) {
        font-size: 4.2rem;
        line-height: 4.2rem + @line-height--addition;
    }
}

// Border radius
// -------------------------------

@border-radius-button:              0.5rem;


// Box shadows
// -------------------------------

@box-shadow:                        0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.25);


// Text shadows
// -------------------------------

@text-shadow:                       0 0.2rem 0.5rem rgba(0, 0, 0, 0.25);


// Transitions
// -------------------------------

@trans-fast:                        0.2s ease;
@trans-fast-material:               0.2s cubic-bezier(.4, 0, 0.2, 1);

@trans-normal:                      0.35s ease;
@trans-normal-material:             0.35s cubic-bezier(.4, 0, 0.2, 1);

@trans-slow-material:               0.5s cubic-bezier(.4, 0, 0.2, 1);

//
// Breakpoints
// --------------------------------------------------

// Min widths
@screen-xs:                   ~'(min-width: 320px)';
@screen-sm:                   ~'(min-width: 680px)';
@screen-md:                   ~'(min-width: 768px)';
@screen-lg:                   ~'(min-width: 1024px)';
@screen-xl:                   ~'(min-width: 1681px)';

// Max widths
@screen-xs-max:               ~'(max-width: 319px)';
@screen-sm-max:               ~'(max-width: 679px)';
@screen-md-max:               ~'(max-width: 767px)';
@screen-lg-max:               ~'(max-width: 1023px)';
@screen-xl-max:               ~'(max-width: 1680px)';


// Z-indexes
// -------------------------------
@index-min:                         -1;
@index-1:                           10;
@index-2:                           20;
@index-3:                           30;
@index-4:                           40;
@index-5:                           50;
@index-6:                           60;
@index-7:                           70;
@index-8:                           80;
@index-9:                           90;
@index-10:                          100;
@index-max:                         999;
