.footer
    .container
        .row
            .col-md-4
                .footer-inner
                    p
                        strong Tactical Media Files
                    ul.footer__navigation
                        li
                            a.footer__link( href="#" ) About
                        li
                            a.footer__link( href="#" ) Colofon
                        li
                            a.footer__link( href="#" ) Contact
                        li
                            a.footer__link( href="#" ) Blog
            .col-md-4
                .footer-inner
                    p
                        strong Filter archive
                    ul.footer__navigation
                        li
                            a.footer__link( href="#" ) Articles
                        li
                            a.footer__link( href="#" ) Videos
                        li
                            a.footer__link( href="#" ) Pictures
                        li
                            a.footer__link( href="#" ) Files
            .col-md-4
                .footer-inner
                    p
                        strong Browse archive
                    ul.footer__navigation
                        li
                            a.footer__link( href="#" ) By collection
                        li
                            a.footer__link( href="#" ) By topic
