.footer
    .container
        .row
            .col-sm-2
            .col-sm-3.center-xs.start-md
                .footer-inner
                    strong Tactical Media Files
                    ul.footer__navigation
                        li
                            a.footer__link( href="#" ) About
                        li
                            a.footer__link( href="#" ) Colofon
                        li
                            a.footer__link( href="#" ) Contact
                        li
                            a.footer__link( href="#" ) Blog
            .col-sm-3.center-xs.start-md
                .footer-inner
                    strong Filter archive
                    ul.footer__navigation
                        li
                            a.footer__link( href="#" ) Articles
                        li
                            a.footer__link( href="#" ) Videos
                        li
                            a.footer__link( href="#" ) Pictures
                        li
                            a.footer__link( href="#" ) Files
            .col-sm-3.center-xs.start-md
                .footer-inner
                    strong Browse archive
                    ul.footer__navigation
                        li
                            a.footer__link( href="#" ) By collection
                        li
                            a.footer__link( href="#" ) By topic
            .col-sm-1
