.header
        h1
            a.header__logo( href="/" )
                img( src="styles/images/logo-tmf.svg" alt="Tactical Media Files" width="320" )
        h2.header_motto The 'living archive' for Tactical Media's present, past and future.