.header
    .container
        h1 
            a.header__logo( href="/" )
                img.header__logo( src="styles/images/tmf-logo.png" alt="Tactical Media Files" )
        p
            strong The 'living archive' for Tactical Media's present, past and future.