.header
        em
            a.header__logo( href="/" )
                img( src="styles/images/logo-tmf.svg" alt="Tactical Media Files" )
        strong The 'living archive' for Tactical Media's present, past and future.