nav.navigation
    .container
        .row
            .col-md-2
                select
                    option Topics
            .col-md-2
                select
                    option Collections
            .col-md-4
                form.navigation__search( action="#" )
                    label( for="search" hidden ) Search
                    input.navigation__search-input( id="search" type="text" placeholder="Search the archive" )
                    button Go
            .col-md-4
                span Filter
                select
                    option All
