/**
* @name     Stylesheet for new version of tmf site
* @author   TMF
* @since    July 2014
*/

body
{
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
    background-color: #fff;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}

p.Text {
    line-height: 1.6em;
}

#tagcloud h2 { text-transform: uppercase; }
#tagcloud li.tag_0{ font-size: 0.7em; font-weight: 100; } 
#tagcloud li.tag_1{ font-size: 0.8em; font-weight: 200; } 
#tagcloud li.tag_2{ font-size: 0.9em; font-weight: 300; } 
#tagcloud li.tag_3{ font-size: 1.0em; font-weight: 400; } 
#tagcloud li.tag_4{ font-size: 1.1em; font-weight: 500; } 
#tagcloud li.tag_5{ font-size: 1.2em; font-weight: 600; }
#tagcloud li.tag_6{ font-size: 1.3em; font-weight: 700; }
#tagcloud li.tag_7{ font-size: 1.4em; font-weight: 800; }
#tagcloud li.tag_8{ font-size: 1.5em; font-weight: 900; }
#tagcloud li.tag_9{ font-size: 1.6em; font-weight: 900; }

.searched_with
{
    margin-bottom: 32px;
    font-family: Georgia, serif;
}

div.pager a, div.pager strong { margin-right: 12px; }
div.pager a.first, div.pager a.next { margin-right: 6px; }
div.SearchResults strong.tag
{
    font-size: 0.9em;
    font-weight: normal;
}
div.SearchResults a.tag
{
    color: #666;
    font-size: 0.9em;
}
div.SearchResults a.tag:hover
{
    color: #00ADEE;
    text-decoration: underline;
}

div.ArticleLinksContainer { color: #ccc; }

/* ######## new video ###### */

div.VideoTMFLogo
{
	position: absolute;
	top: 0px;
	right: 73px;
	z-index: 10;
}

div.VideoBrowse { float: right; }

div.VideoBrowseLabel
{
	spacing: 4px;
	float: right;
	width: 62px;
	border-top: 3px solid #CCCCCC;
	padding-top: 10px;
	text-align: right;
	z-index: 2;
	margin-right: 4px;
}

#VideoBrowseMask1
{
	position: absolute;
	left: -1000px;
	top: -3px;
	width: 1000px;
	height: 160px;
	background-color: #FFF;
	z-index: 6;
}

#VideoBrowseMask2
{
	position: absolute;
	left: 632px;
	top: 0px;
	width: 1000px;
	height: 160px;
	background-color: #FFF;
	z-index: 6;
}

div.VideoBrowseList
{
	float: right;
	width: 632px;
	background-color: #F2F2F2;
	position: relative;
	border-top: 3px solid #CCCCCC;
}

div.VideoBrowseTable1
{
	position: absolute;
	top: 0px;
	left: -632px;
	border-collapse: collapse;
	margin-top: 0px;
	margin-left: 0px;
	z-index: 5;
}

div.VideoBrowseTable2
{
	position: absolute;
	top: 0px;
	left: 0px;
	border-collapse: collapse;
	margin-top: 0px;
	margin-left: 0px;
	z-index: 5;
}

div.VideoBrowseTable3
{
	position: absolute;
	top: 0px;
	left: 632px;
	border-collapse: collapse;
	margin-top: 0px;
	margin-left: 0px;
	z-index: 5;
}
div#homethumbs .kw {
    display: block;
}

/* .homethumb1 { left: 0; }
.homethumb2 { left: 120px; }
.homethumb3 { left: 240px; }
.homethumb4 { left: 360px; }
.homethumb5 { left: 480px; }
.homethumb6 { left: 600px; } */
#videothumbs div.videothumb
{
	position: static;
	float: left;
	padding: 0;
	top: 0;
	width: 150px;
	text-align: center;
	font-size: 0.85em;
	line-height: 1.1em;
}
#homethumbs div.homethumb {
	position: static;
	float: left;
	top: 0;
	padding: 0;
	width: 120px;
	text-align: center;
	font-size: 0.85em;
	line-height: 1.1em;
	font-family: "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
}
#videothumbscontainer {
  width: 2400px;
  position: relative;
  left: -300px;
  top: 0;
}
#homethumbscontainer {
  width: 2400px;
  position: relative;
  left: -240px;
  top: 0;
}

/* #videothumbs .videothumb1 { left: 0; }
#videothumbs .videothumb2 { left: 150px; }
#videothumbs .videothumb3 { left: 300px; }
#videothumbs .videothumb4 { left: 450px; }
#videothumbs .videothumb5 { left: 600px; }
#videothumbs .videothumb6 { left: 750px; } */

div.VideoBrowsePrevious
{
	position: absolute;
	bottom: -60px;
	left: 20px;
	opacity: 0.6;
	z-index: 6;
}

div.VideoBrowseNext
{
	position: absolute;
	bottom: -60px;
	right: 20px;
	opacity: 0.6;
	z-index: 6;
}

div.VideoSpacer { height: 35px; }
div.VideoSpacer3 { height: 20px; }

div.VideoPlaying
{
	display: block;
	float: right;
	width: 697px;
	padding: 0 0 100px 0;
}

div.VideoPlayingLabelTitleMarkers
{
	float: left;
	width: 213px;
}

div.VideoPlayingLabel
{
	float: left;
	width: 62px;
	border-top: 6px solid #CCCCCC;
	padding-top: 10px;
	text-align: right;
}

div.VideoPlayingTitle
{
	background-color: #F2F2F2;
	float: right;
	width: 127px;
	padding: 10px;
	border-top: 6px solid #CCCCCC;
}

div.VideoMarkerNote
{
	float: right;
	width: 147px;
	font-size: 10px;
	color: #CCCCCC;
	padding: 3px 0px;
	line-height: 14px;
}

table.VideoMarkerList { width: 215px; }

table.VideoMarkerList tr td
{
	font-size: 10px;
	color: #000000;
	padding: 2px;
}

td.VideoMarkerTime
{
	width: 57px;
	text-align: right;
	vertical-align: top;
}

table.VideoMarkerList tr.VideoActiveMarker td
{
	font-weight: bold;
	color: #000000;
}

table.VideoMarkerList tr.VideoActiveMarker td.ActiveTitle { background-color: #F2F2F2; }

div.VideoPlayer
{
	float: right;
	width: 480px;
	height: auto;
	border-top: 6px solid #CCCCCC;
}

div.VideoPlayerBox { text-align: right; }

div.VideoLeftContainer
{
	float: left;
	width: 199px;
}

div.VideoRelatedTopbar
{
	float: left;
	width: 132px;
	border-top: 3px solid #CCCCCC;
}

div.VideoRelatedLabel
{
	float: right;
	width: 63px;
	border-top: 3px solid #CCCCCC;
	padding-top: 10px;
}

div.VideoLinks
{
	float: left;
	clear: right;
	font-size: 10px;
	padding-top: 10px;
	overflow: hidden;
}
