.footer {
    position: relative;
    min-height: 8rem;
    background-color: @color-grey;
	padding: 3rem 0 1rem 0;
	
	.font(medium);
	font-family: @font-secondary;
	text-transform: uppercase;

	.footer-inner {
		line-height: 3.2rem;
		margin-bottom: 3rem;

		@media @screen-sm-max {
			height: auto;
			min-height: auto;
			padding-top: 0.2rem;
			margin-top: 1rem;
			.font(base);
		}

		.footer__navigation {
			margin-top: 1rem;
		}

		.footer__link {
			font-family: @font-tertiary;
			color: @color-grey--20;
			text-decoration: none;
			//font-weight: 200;

			&:hover {
				text-decoration: underline;
			}

		}

		strong {
			.font(small);
			color: black;
		}

	}
}
