.header {
	position: relative;
	width: 100%;
    min-height: 4.6rem;
    
	.container {
	    display: flex;
	    align-items: center;

	}

	.header__logo {
	    width: 18rem;
	    margin: 1rem;
	}

	p { 
		width: 100%;
		text-align: right;
		strong {
			font-family: @font-secondary;
			font-size: @font-base;
			text-transform: uppercase;
			color: @color-white;
			text-shadow: 0.2rem 0.2rem @color-grey--50;
		}
	}

}

