.main-content {
    flex-grow: 1;

    &.___no-padding {
        padding-top: 0;
    }

    .heading {
        &.___hidden {
            display: none;
        }
    }

    hr { 
        width: 50%;
        border: 0;
        height: 0.2rem;
        background-color: @color-grey--60;
        margin: 6rem auto 1rem;
    }

}

