.main-content {
    flex-grow: 1;
    padding: 9rem 0 10rem 0;

    &.___no-padding {
        padding-top: 0;
    }

    .content-type {
        margin-top: 6rem;
        color: @color-primary;
        font-family: @font-secondary;
        text-transform: lowercase;
        text-align: center;
    }

    .title {
        margin: 2rem 0 3rem 0;
        color: @color-black;
        font-size: @font-title-normal;
        line-height: @line-height--title-normal;
        text-align: center;
        font-weight: normal;

        a {
            color: @color-black;
        }
    }

    p, .intro {
        font-size: @font-large;
        line-height: @line-height--large;
        color: @color-secondary;
        font-style: oblique;
        text-align: center;
    }

    .read-more {
        background-color: @color-primary;
        color: @color-white;
        font-family: @font-secondary;
        font-size: @font-small;
        text-transform: uppercase;
        text-align: center;
        margin: 1rem auto;
        display: block;
        width: 8rem;
        padding: 0.8rem 1rem 0.4rem;
    }

    .tags {
        text-align: center;
        font-family: @font-secondary;
        font-size: @font-extra-small;
        text-transform: uppercase;
        font-weight: 200;
        margin: 3rem 0;

        a {
            color: @color-secondary;
        }
    }

    hr { 
        width: 50%;
        border: 0;
        height: 0.2rem;
        background-color: @color-grey;
        margin: 6rem auto 2rem;
    }
}

