.navigation {
    position: absolute;
    //display: flex;
    line-height: 4rem;
    z-index: 1;
    background: @color-grey;
    width: 100%;

    .navigation__content {

    	ul.navigation__menu {
    		list-style: none;
    		li {
    			float: left;
    		}
    	}
    }
}





