.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: cover;
    right: 0;
    bottom: 0;
    width: 100%;
    heigth: 100%;

    visibility: hidden;
    opacity: 0;

    .show-overlay & {
    	visibility: visible;
    	opacity: 1;
    }
    
    transition: @trans-normal-material;
    background-color: @color-black-transparent;
    z-index: @index-2;

    .overlay-content {
    	height: 100%;
    	overflow: scroll;
    }
    
	a.close {
		position: absolute;
		right: 4rem;
		top: 4rem;		
		
        &:before {
	        .fa-icon();
            content: @fa-var-times;
            color: white;
            font-size: 3rem;
            outline: none;
		}
		&:hover { 			
            &:before {
                color: @color-primary;     
                transition: color @trans-normal-material;
            }
		}
	}


    h2 {
        .font(extra-small);
        font-family: @font-secondary;
        font-weight: normal;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.2rem;
        color: white;
        margin: 6rem 0 0 0;
    }

    .collections {
	    ul {
		    li {
		    	text-align: center;
		    	margin: 6rem 0;

		    	em {
                    .font(small);
			        font-family: @font-secondary;
		    		display: block;
		    		margin: 0 0 1rem 0;
		    		color: @color-primary;
		    	}
		    	h3 {
		    		.font(title-small);
                    color: @color-grey;
		    		font-weight: normal;

                    a {
                        color: @color-grey;
                        text-decoration: none;
                        &:hover {
                            color: @color-primary;
                        }
                    }

		    	}
		    }

	    }
	}

	ol.alphabet {
        margin: 3rem 0;
        list-style: none;
        text-align: center;
        
        li {
            display: inline;
            list-style: none;
            font-family: @font-secondary;
            .font(small);
    
            a {
                display: inline-block;
                margin: 1rem 0.2rem;
                line-height: 3.2rem;
                width: 2.8rem;
                height: 2.8rem;
                background-color: @color-grey--20;
                color: @color-grey--80;
                transition: background-color @trans-normal-material, color @trans-normal-material;
    
                &:hover {
                    color: white;
                    background-color: @color-primary; 
                    text-decoration: none;
                    border-color: @color-primary;
                }
            }
        }
	}

	.topics {
		color: white;

		ol.items {
			text-align: center;
			
            li {
				list-style: none;
				display: inline;
				
                .font(title-small);
				margin: 2rem;

                a {
                    color: @color-grey;
                    text-decoration: none;
                    white-space: nowrap;
                    &:hover {
                        color: @color-primary;
                    }
                }
			}
		}
	}

    .filter {

        ul {
            text-align: center;
            margin-top: 2rem;
            
            li {
                
                .font(small);
                font-family: @font-secondary;
                text-transform: lowercase;
                font-style: italic;

                margin-bottom: 1rem;

                a {
                    color: @color-primary;
                    text-decoration: none;
                    &:hover {
                        color: @color-primary-dark;
                    }
                }
            }
        }
    }

}