.content {
    
    &.picture {
        .content-type { margin-top: 2.6rem; }
        img {
            width: 100%;
        }

        .content-intro {
            margin-left: 4rem;
        }
    }

    .content-title {
        .font(title-normal);
        color: @color-grey--90;
        font-weight: normal;
        margin: 2rem 0 3rem 0;

        @media @screen-sm-max {
            .font(title-extra-small);
        }
    }
    
    .content-image {
        img {
            width: 100%;
            margin: 1rem 0 3rem 0;
        }
    }

    p.content-intro {
        .font(large);
        color: @color-grey--70;
        font-style: oblique;
        margin: 0 0 4rem 12rem;

        @media @screen-sm-max {
            .font(medium);
            margin-left: 3rem;
        }
    }

    p {
        .font(base);
        color: @color-grey--80;

        a {
            color: @color-primary;

            &:hover, 
            &:active {
                text-decoration: underline;
            }
        }
        
        @media @screen-sm-max {
            .font(medium);
        }
    }

    h2, h3, h4, h5, h6 {
        color: @color-grey--90;
    }

}