.content-related {

    .content-related__title {    
        margin: 4rem 0 1rem 0;
        color: @color-primary;
        font-family: @font-secondary;
        font-style: italic;
        text-transform: lowercase;

        .font(medium);

        &.__images,
        &.__video {
            margin-bottom: 0rem;
        }
    }

    .content-related__list {
        font-family: @font-tertiary;
        .font(small);

        a { color: @color-secondary; }

        &.__images,
        &.__video {
            li {
                display: inline;
                float: left;
            }
        }

        .content-related__image {
            display: block;
            margin: 2rem 1rem 0 3rem;

            @media @screen-md-max {
                margin-left: 0;
                margin-right: 3rem; 
            }
            
            .content-related__image-bg {
                width: 20rem;
                height: 15rem;
                background-size: cover;
                background-position: center;
                background-repeat: none;
                margin-bottom: 1rem;
            }

            img {
                width: 100%;
                margin-bottom: 1rem;
            }
        }
    }

}