.content-related {

    .content-related__title {    
        margin: 4rem 0 1rem 0;
        color: @color-primary;
        font-family: @font-secondary;
        font-style: italic;
        text-transform: lowercase;

        font-size: @font-medium;
        line-height: @line-height--medium;

        &.__images,
        &.__video {
            margin-bottom: 0rem;
        }
    }

    .content-related__list {
        font-family: @font-tertiary;
        font-size: @font-small;
        line-height: @line-height--small;

        list-style: none;

        li {
            list-style: none;
            float: left;
            display: inline;
        }

        .content-related__image {
            display: block;
            margin: 2rem 3rem 0 0;
            max-width: 18rem;
            
            img {
                width: 100%;
                margin-bottom: 1rem;
            }
        }
    }


}