ul.items
    each val in ["baccident", "bact up", "bactivism", "BIDSaids", "BAl Jazeera", "bamsterdam", "bnarchist", "bookfair 2010", "abonymous", "barchiveart", "b of campaigning", "bausterity", "Bustria", "bvantgarde", "bavatar"]
        li
            a( href=val ) #{val}
