<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
  <description>
  </description>

  <display-name>TMF webapplication</display-name>

  <context-param>
    <param-name>mmbase.taglib.eval_body_include</param-name>
    <param-value>true</param-value>
  </context-param>

  <context-param>
    <param-name>mmbase.taglib.field.nonExistance</param-name>
    <param-value>exception</param-value>
  </context-param>

  <context-param>
    <param-name>stall-server</param-name>
    <param-value>false</param-value>
  </context-param>

  <!-- some for attachments -->
  <context-param>
    <param-name>mmbase.servlet.attachments.addfilename</param-name>
    <param-value>yes</param-value>
  </context-param>


  <filter>
    <filter-name>FrameworkFilter</filter-name>
    <filter-class>org.mmbase.framework.FrameworkFilter</filter-class>
    <init-param>
      <param-name>excludes</param-name>
      <param-value>([.]ico$|[.]jpg$|[.]gif$|[.]png$|[.]css$|[.]js$|[.]jsp$|[.]jspx$|[.]do$|[.]swf$)|/errorpages|/editors|/style</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>FrameworkFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>



  <!-- The base MMBase servlet informs about the current MMBase version -->
  <servlet>
    <servlet-name>version</servlet-name>
    <servlet-class>org.mmbase.servlet.MMBaseServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- The MMBase image serving servlet. -->
  <servlet>
    <servlet-name>images</servlet-name>
    <servlet-class>org.mmbase.servlet.ImageServlet</servlet-class>
    <init-param>
      <!-- Expire time of original images. Cached images never expire. -->
      <param-name>expire</param-name>
      <!-- 10 minutes (default is one hour)-->
      <param-value>600</param-value>
    </init-param>
    <init-param>
      <!-- Whether to accepts image conversion on the URL -->
      <param-name>convert</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <!-- Field of image node to use for 'last modified' -->
      <param-name>lastmodifiedfield</param-name>
      <param-value></param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <!-- The MMBase attachment serving servlet. -->
  <servlet>
    <servlet-name>attachments</servlet-name>
    <servlet-class>org.mmbase.servlet.AttachmentServlet</servlet-class>
    <init-param>
      <!-- Expire time of original images. Cached images never expire. -->
      <param-name>expire</param-name>
      <!-- 10 minutes (default is one hour)-->
      <param-value>600</param-value>
    </init-param>
    <init-param>
      <!-- Field of attachment node to use for 'last modified' -->
      <param-name>lastmodifiedfield</param-name>
      <param-value></param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>

  <!-- mapping for version-request -->
  <servlet-mapping>
    <servlet-name>version</servlet-name>
    <url-pattern>/version</url-pattern>
  </servlet-mapping>

  <!-- mapping for image-requests -->
  <servlet-mapping>
    <servlet-name>images</servlet-name>
    <url-pattern>/mmbase/images/*</url-pattern>
  </servlet-mapping>

  <!-- mapping for attachment-requests -->
  <servlet-mapping>
    <servlet-name>attachments</servlet-name>
    <url-pattern>/mmbase/attachments/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jspx</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>400</error-code>
    <location>/mmbase/errorpages/400.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/mmbase/errorpages/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jspx</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/mmbase/errorpages/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/mmbase/errorpages/503.jsp</location>
  </error-page>


  <env-entry>
    <env-entry-name>mmbase/mmbaseroot/datasource-context</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>java:comp/env</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>mmbase/mmbaseroot/datasource</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>jdbc/MMBase</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>mmbase/mmbaseroot/basename</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>oi</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>mmbase-builders/mmbasecontexts/readall</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>true</env-entry-value>
  </env-entry>
	<resource-ref>
		<description>
			Datasource for the MMBase Database. This datasource must be
			configured in the application server.
      This entry is not needed in tomcat, but jetty needs it.
		</description>
		<res-ref-name>jdbc/MMBase</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>
