.heading {
    
    &.__collection {
        height: 57.4rem;
        padding: 4rem;

    }

    .collection__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        height: 36rem;
        margin: 3rem 0;
    }

    h1 {
        .font(small);
        
        &.collection__content-type {
            font-family: @font-secondary;
            letter-spacing: .1rem;
            text-transform: lowercase;
            color: white;
            text-align: center;
            margin: 0 0 3rem 0;
        }
    }

    h2.collection__author {
        .font(base);
        font-family: @font-secondary;
        letter-spacing: .1rem;
        color: @color-primary;
        text-align: center;
        //margin: 0 0 3rem 0;
    }

    h3.collection__title {
        .font(title-normal);
        font-weight: normal;
        color: white;
        //margin: 0 4rem;
    }

    p.collection__intro {
        .font(large);
        color: white;
        font-style: oblique;
        //margin: 0 6rem;
        
        //margin: 2rem 0;

        @media @screen-sm-max {
            .font(medium);
        }
    }

}