.tags {
    list-style: none;
    
    font-family: @font-tertiary;
    font-size: @font-medium;
    color: @color-secondary;
    text-transform: uppercase;
    text-align: center;
    
    margin: 4rem 0;

    @media @screen-sm-max {
        font-size: @font-small;
    }
    
    .content-info & {
        margin: 0;
        font-size: @font-small;
        
        @media @screen-sm-max {
            font-size: @font-extra-small;
            text-align: left;
        }
    }

    li {
        list-style: none;
        display: inline;
        
        a {
            color: @color-secondary;
            transition: @trans-normal-material;

            &:hover {
                color: @color-primary;
            }
        }
    }

}